@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

.page-header {
  &__inner {
    padding-top: 30px;
    padding-bottom: 30px;

    @media (max-width: 1250px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 1250px) {
     gap: 20px;
    }
  }
}

.breadcrumb {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    padding-right: 20px;
    padding-left: 20px;
    position: relative;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;

      span {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #1E355C;
      }
    }

    &:not(:last-child) {
      &::after {
        content: "/";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #1E355C;
      }

      a {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #F1511B;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.inside-page {
  background-image: url("../images/inside-page-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 100%;
    color: #1E355C;
    
    @media (max-width: 450px) {
      font-size: 26px;
    }
  }

  &.no-bg-page {
    background: none;

    h2 {
      color: #1E355C;
    }
  }

  .main-catalog {
    padding-bottom: 60px;

    @media (max-width: 1250px) {
      padding-bottom: 30px;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      @media (max-width: 1250px) {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }

    &__item {
      width: auto;
    }
  }
}

.content {
  padding-bottom: 30px;

  @media (max-width: 1250px) {
    padding-bottom: 20px;
  }

  h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 100%;
    color: #1E355C;
    margin-bottom: 30px;
    
    @media (max-width: 450px) {
      font-size: 26px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #1E355C;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.decor-images {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }

  &__item {
    height: 326px;

    @media (max-width: 600px) {
      height: 163px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:first-child {
      width: calc(10% - (2px * 3 / 4));
    }
    &:nth-child(2) {
      width: calc(40% - (2px * 3 / 4));
    }
    &:nth-child(3) {
      width: calc(40% - (2px * 3 / 4));
    }
    &:nth-child(4) {
      width: calc(10% - (2px * 3 / 4));
    }
    &:nth-child(5) {
      width: calc(20% - (2px * 2 / 3));
    }
    &:nth-child(6) {
      width: calc(60% - (2px * 2 / 3));
    }
    &:nth-child(7) {
      width: calc(20% - (2px * 2 / 3));
    }


    @media (max-width: 600px) {

      display: none;

      &.visible-mobile {
        display: block;
      }


      &:first-child.visible-mobile {
        width: calc(70% - 1px);
      }
      &:nth-child(2).visible-mobile {
        width: calc(30% - 1px);
      }
      &:nth-child(3).visible-mobile {
        width: calc(50% - 1px);
      }
      &:nth-child(4).visible-mobile {
        width: calc(50% - 1px);
      }
    }
  }
}