@use "../styles/colors.scss" as c;

@mixin swiper-arrow-base {
  width: 37px;
  height: 34px;
  transition: all 0.3s ease;

  &::after {
    display: none;
  }

  &:hover {
    transform: scale(1.2);
  }
}


@mixin swiper-arrow-prev {
  @include swiper-arrow-base;
  left: 40px;
}


@mixin swiper-arrow-next {
  @include swiper-arrow-base;
  right: 40px;
}