@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

html,
body {
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  position: relative;
  z-index: 1;
}

h1.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
  white-space: nowrap;
}

