<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__top">
                <div class="footer__download">
                    <a href="#" download="" class="download-link">
                        Скачать буклет
                    </a>
                </div>
                <div class="footer__navigation">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#">Перголы</a>
                        </li>
                        <li class="footer__item">
                            <a href="#">Zip-экраны</a>
                        </li>
                        <li class="footer__item">
                            <a href="#">Системы остекления</a>
                        </li>
                        <li class="footer__item">
                            <a href="#">Маркизы</a>
                        </li>
                        <li class="footer__item">
                            <a href="#">Производство</a>
                        </li>
                        <li class="footer__item">
                            <a href="#">Дилерам</a>
                        </li>
                        <li class="footer__item">
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__contacts">
                    <div class="footer__phone">
                        <a href="tel:+78000000000">8 800 000 0000</a>
                    </div>
                    <div class="footer__mail">
                        <a href="mailto:murex@mail.ru">murex@mail.ru</a>
                    </div>
                    <div class="footer__social">
                        <ul class="social-list">
                            <li class="social__item">
                                <a href="#">
                                    <include src="assets/svg/whatsapp2.html"></include>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="#">
                                    <include src="assets/svg/telegram2.html"></include>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__address">
                        <div class="footer__wrapper">
                            <p>Московская обл., г. Балашиха, мкр. Саввино, ул. Саввинская 10</p>
                            <p>Санкт-Петербург, ул. Уральская, д. 1,
                                корп. 2, БЦ АкадемиА, офис 356</p>
                        </div>
                        <div class="copyright">© 2025 Murex Group. Сделано в Brains</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>