<header class="header">
    <div class="header__inner">
        <div class="header__top">
            <div class="header__logo">
                <a href="#">
                    <include src="assets/svg/logo.html"></include>
                </a>
            </div>
            <div class="search">
                <div class="search__inner">
                    <form class="search__form">
                        <input type="search" placeholder="Поиск" name="q" class="search__input">
                        <img class="lazy search-img" data-src="assets/images/search.svg" alt="">
                    </form>
                </div>
            </div>
            <div class="header__phone">
                <a href="tel:+78000000000">8 800 000 0000</a>
                <span>Телефон</span>
            </div>
            <div class="header__mail">
                <a href="mailto:murex@mail.ru">murex@mail.ru</a>
                <span>Почта</span>
            </div>
            <div class="header__social">
                <ul class="social-list">
                    <li class="social-item">
                        <a href="#">
                            <include src="assets/svg/whatsapp.html"></include>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="#">
                            <include src="assets/svg/telegram.html"></include>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header__buttons">
                <button class="header-btn color-btn">Обратный звонок</button>
            </div>
            <div class="header__burger burger">
                <span class="burger__line"></span>
                <span class="burger__line"></span>
                <span class="burger__line"></span>
            </div>
        </div>
        <div class="header__bottom">
            <div class="header__download">
                <a href="#" download class="download-link">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M9 11V17L11 15" stroke="#F1511B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9 17L7 15" stroke="#F1511B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22 10V15C22 20 20 22 15 22H9C4 22 2 20 2 15V9C2 4 4 2 9 2H14" stroke="#1E355C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22 10H18C15 10 14 9 14 6V2L22 10Z" stroke="#1E355C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Скачать буклет
                </a>
            </div>
            <nav class="header__navigation">
                <ul class="header__list">
                    <li class="header__item">
                        <a href="#">Перголы</a>
                    </li>
                    <li class="header__item">
                        <a href="#">Zip-экраны</a>
                    </li>
                    <li class="header__item">
                        <a href="#">Системы остекления</a>
                    </li>
                    <li class="header__item">
                        <a href="#">Маркизы</a>
                    </li>
                    <li class="header__item">
                        <a href="#">Производство</a>
                    </li>
                    <li class="header__item">
                        <a href="#">Дилерам</a>
                    </li>
                    <li class="header__item">
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>